.profile {    
    background-color: gainsboro;
    width: 250px;
    font-size: 13px;   
    margin-bottom: 15px; 
    border: 1px solid grey;    
}
.description {
    margin: 10px;
    text-align: center;    
}
.avatar {
    width: 100px;
}
.name {
    margin:0;
}
.tag {
    margin:0;
}
.location {
    margin:0;
}
.stats {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-around;    
    
}
.statsprof {
    display: grid;
    text-align: center;
    width: 83.33px;
    border: 1px solid grey;
}