.transactionHistory {
    width: 250px;
    border: 1px solid grey;
}
.headerList {
    background-color: lightblue;
}
.header {
    text-transform: uppercase;
}
.table {
    background-color: lightcyan;
}